.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}
.title {
  margin-bottom: 10px;
}
.statList {
  display: flex;
  padding: 0;
  margin: 0;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  width: 80px;
  height: 80px;
}
.docx {
  composes: item;
  background-color: rgb(42, 130, 237);
}
.pdf {
  composes: item;
  background-color: rgb(235, 78, 11);
}
.mp3 {
  composes: item;
  background-color: rgb(217, 228, 23);
}
.psd {
  composes: item;
  background-color: rgb(38, 177, 182);
}
