.item {
  display: flex;
  list-style: none;
  justify-content: left;
  align-items: center;
  width: 300px;
  height: 85px;
  border: 1px solid;
  border-radius: 3px;
  padding-left: 15px;
}
.avatar {
  margin-left: 15px;
}
.name {
  margin-left: 25px;
}
.status {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.onLine {
  composes: status;
  background-color: rgb(87, 211, 62);
}
.offLine {
  composes: status;
  background-color: rgb(243, 77, 7);
}
